html,
body {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

label {
  position: relative;
	cursor: pointer;
	padding-left: 80px;
	@include respond(480) {
		padding-left: 45px;
	}
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label:before {
  content: "";
	width: 22px;
	height: 22px;
	left: 30px;
	border-radius: 50%;
	background-color: $accent;
	border: 5px solid #fff;
	box-shadow: 0 0 0 5px #34648e;
	@include respond(480) {
		left: 10px;
	}
}

label:before {
  content: "";
  position: absolute;
	top: 50%;
	transform: translateY(-50%);
  left: 25px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
	border: 5px solid #dadada;
	@include respond(480) {
		left: 5px;
	}
}

.card {
	max-width: 590px;
	width: 100%;
	background-color: #ebebeb;
	box-shadow: 0 0 5px 1px #b5b5b5;
	padding: 13px;
	&__form {
		background-color: #fff;
		padding: 18px;
		@include respond(480) {
			padding: 10px;
		}
	}
	&__plan {
		&--data:checked + &-text {
			border: 1px solid #b8d7e2;
			background-color: #ebf4f7;
		}
	}
	&__plan-text {
		display: flex;
		justify-content: space-between;
		color: $text;
		border: 1px solid #fff;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-right: 25px;
		transition: all .3s;
		&:hover {
			background-color: #ebf4f7;
		}
		@include respond(480) {
			padding-right: 10px;
		}
		&--name {
			font-size: 22px;
			font-weight: bold;
			font-family: $bebas-font;
			@include respond(480) {
				font-size: 20px;
			}
		}
		&--price {
			font-size: 17px;
			@include respond(480) {
				font-size: 16px;
			}
		}
	}
	&__number {
		margin-top: 10px;
		padding-top: 30px;
		padding-bottom: 30px;
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		display: flex;
		align-items: center;
		@include respond(600) {
			justify-content: center;
		}
		&--text {
			margin-right: 10px;
			padding-left: 120px;
			@include respond(600) {
				padding-left: 0;
			}
		}
		&--select {
			border-radius: 3px;
			background-color: #fff;
			width: 62px;
			height: 32px;
			font-size: 15px;
		}
	}
	&__buy {
		padding-top: 35px;
		padding-bottom: 30px;
		text-align: center;
	}
	&__buy-price {
		color: $text;
		font-size: 30px;
		font-family: $bebas-font;
		font-weight: bold;
		margin-bottom: 10px;
		&--num {
			position: relative;
			color: $accent;
			&::before {
				content: "US";
				font-size: 16px;
				position: absolute;
				right: -13px;
				top: 0;
			}
		}
	}
	&__buy-btn {
		padding: 0;
		border: none;
		font: inherit;
		color: inherit;
		background-color: transparent;
		cursor: pointer;
		text-transform: uppercase;
		color: #fff;
		background-color: #33a845;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 60px;
		padding-right: 60px;
		border-radius: 40px;
		transition: all .3s;
		&:hover,
		&:focus {
			background-color: $accent;
		}
	}
	&__buy-select {
		font-size: 18px;
		color: $accent;
		margin-top: 40px;
	}
}