


$default-font: "roboto-example", sans-serif;

$accent: #FD8819;
$secondary: #FED9B9;
$text: #333;


	//  Media 

// @include respond(480) {
// 	padding: 0;
// }

@mixin respond($breakpoint) {
	@if $breakpoint == 320 {
		@media only screen and (max-width: 320px) { @content };  
	}
	@if $breakpoint == 400 {
		@media only screen and (max-width: 400px) { @content };  
	}
	@if $breakpoint == 480 {
			@media only screen and (max-width: 480px) { @content };  
	}
	@if $breakpoint == 600  {
		@media only screen and (max-width: 600px) { @content };    
	}
	@if $breakpoint == 700  {
			@media only screen and (max-width: 700px) { @content };    
	}
	@if $breakpoint == 768  {
		@media only screen and (max-width: 767px) { @content };    
	}
	@if $breakpoint == 900 {
			@media only screen and (max-width: 900px) { @content };   
	}
	@if $breakpoint == 992 {
			@media only screen and (max-width: 992px) { @content };   
	}
	@if $breakpoint == 1024 {
			@media only screen and (max-width: 1024px) { @content };   
	}
	@if $breakpoint == 1200 {
			@media only screen and (max-width: 1200px) { @content };   
	}
	@if $breakpoint == 1250 {
			@media only screen and (max-width: 1250px) { @content };   
	}
}
